:root {
    --secondary-color: #faa935;
    --primary-color: #ff7e01;
    --text-color: #6e7074;
    --heading-color: #0b2727;
    --light-bg-color: #cae5f4;
    --light-pink-color: #ee6e6e;
    --contrast-color: white;

    --font1: "Montserrat", sans-serif;
    --font2: "Island Moments", cursive;

    --header-height: 8.5rem;
    --header-height-mobile: 7rem;
    --header-z-index: 1000;
    --trans: 0.3s;
}
