@use "../abstracts" as *;

%button-style {
    transition: var(--duration);
    border-radius: 0.6rem;
    padding: 1rem;
}

.button {
    background-color: var(--secondary-color);
    color: var(--white-color);
    @extend %button-style;

    @include hover-active {
        background-color: var(--primary-color);
    }
}

.outlined-button {
    border: 0.1rem solid var(--heading-color);
    @extend %button-style;

    @include hover-active {
        border-color: var(--secondary-color);
        background-color: var(--secondary-color);
        color: var(--white-color);
    }
}
