@use "../../styles/helpers/abstracts.scss" as *;

.authorization_block {
    display: flex;
}

.authorization__image {
    border-radius: 1.2rem 0 0 1.2rem;
    width: 100%;
    max-width: 57.6rem;
    height: 66.2rem;
    overflow: hidden;

    .authorization__pic {
        @extend %cover_img;
    }
}

.authorization__wrap {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @media (min-width: $point1) {
        padding: 0 2rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        padding-left: 2rem;
    }
    @media (min-width: $point3) {
        max-width: 54.4rem;
    }

    svg {
        position: absolute;
        z-index: -1;

        @media (max-width: $point4) {
            height: auto;

            &:not(:nth-of-type(1)) {
                max-width: 10rem;
            }
        }

        &:nth-of-type(1) {
            width: 44.8rem;

            @media (min-width: $point1) {
                top: 1.4rem;
                right: -22.4rem;
            }
            @media (min-width: $point3) and (max-width: $point2) {
                top: 1rem;
                right: -25rem;
            }
            @media (min-width: $point3) {
                height: 13.3rem;
            }
            @media (max-width: $point4) {
                top: 0.5rem;
                right: -18rem;
                max-width: 35rem;
            }
        }

        &:nth-of-type(2) {
            bottom: 0;
            left: 0;
            width: 16.6rem;

            @media (min-width: $point3) {
                height: 10.5rem;
            }
        }

        &:nth-of-type(3) {
            right: 0;
            bottom: 0;
            width: 17.4rem;

            @media (min-width: $point3) {
                height: 10.4rem;
            }
        }

        path {
            fill: var(--secondary-color);
        }
    }
}

.authorization__form {
    padding: 4.8rem 0 0;
    width: 100%;
}

.login__form {
    @media (min-width: $point3) {
        max-width: 35.2rem;
    }
    @media (max-width: $point4) {
        min-height: 53rem;
    }

    .authorization__title {
        line-height: 4.8rem;

        @media (min-width: $point1) {
            font-size: 6.4rem;
        }
        @media (min-width: $point3) and (max-width: $point2) {
            font-size: 4rem;
        }
        @media (min-width: $point3) {
            margin-bottom: 1rem;
        }
        @media (max-width: $point4) {
            font-size: 2.8rem;
        }
    }

    .authorization__subtitle {
        margin-bottom: 2.6rem;

        @media (min-width: $point3) {
            font-size: 1.6rem;
        }
        @media (max-width: $point4) {
            font-size: 1.2rem;
        }
    }
}

.register__form {
    @media (min-width: $point1) {
        max-width: 47.9rem;
    }
    @media (max-width: $point4) {
        min-height: 60rem;
    }

    .authorization__title {
        text-transform: uppercase;

        @media (min-width: $point1) {
            margin-bottom: -0.1rem;
            font-size: 3.2rem;
        }
        @media (max-width: $point2) {
            margin-bottom: 0.5rem;
            font-size: 2.8rem;
        }
    }

    .authorization__subtitle {
        font-size: 1.2rem;

        @media (min-width: $point1) {
            margin-bottom: 2.1rem;
        }
        @media (max-width: $point2) {
            margin-bottom: 1rem;
        }

        a {
            transition: color var(--trans);
            color: var(--secondary-color);
            text-decoration: none;

            @media (min-width: $point1) {
                &:hover {
                    color: var(--primary-color);
                }
            }
            @media (max-width: $point2) {
                &:active {
                    color: var(--primary-color);
                }
            }
        }
    }
}

.authorization__title {
    color: var(--secondary-color);
    font-weight: 600;
    text-align: center;
}

.authorization__subtitle {
    color: var(--text-color);
    text-align: center;
}

.login__areas {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $point1) {
        row-gap: 2.5rem;
        margin-bottom: 1.1rem;
    }
    @media (max-width: $point2) {
        row-gap: 1.5rem;
        margin-bottom: 2rem;
    }
}

.register__areas {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $point1) {
        row-gap: 2rem;
        margin-bottom: 2.5rem;

        .authorization__area:nth-child(1) {
            margin-right: auto;
        }

        .authorization__area:nth-child(1),
        .authorization__area:nth-child(2) {
            max-width: 22.4rem;
        }
    }
    @media (max-width: $point2) {
        row-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.authorization__area {
    display: flex;
    position: relative;
    align-items: center;
    border: 0.1rem solid var(--secondary-color);
    border-radius: 0.8rem;
    width: 100%;

    @media (min-width: $point1) {
        padding: 0 3rem;
        height: 5.1rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        padding: 0 2rem;
        height: 4rem;
    }
    @media (max-width: $point4) {
        padding: 0 1.5rem;
        height: 3.5rem;
    }

    &:has(#password) {
        padding-right: 0;

        .eye__icon {
            opacity: 0;
            transition: opacity var(--trans);
            cursor: pointer;
            height: 100%;

            @media (min-width: $point1) {
                padding: 0 2.9rem 0 2.1rem;
                width: 7.2rem;
            }
            @media (min-width: $point3) and (max-width: $point2) {
                padding: 0 2rem;
                width: 6rem;
            }
            @media (max-width: $point4) {
                padding: 0 1.5rem;
                width: 5rem;
            }
        }

        &:focus-within,
        &:hover {
            .eye__icon {
                opacity: 1;
            }
        }
    }
}

.authorization__area__label {
    position: absolute;
    top: -1rem;
    opacity: 0;
    transition: opacity var(--trans);
    background-color: var(--contrast-color);
    padding: 0 0.8rem;
    color: var(--text-color);
    font-weight: 400;

    @media (min-width: $point1) {
        left: 2rem;
        font-size: 1.4rem;
    }
    @media (max-width: $point2) {
        left: 1.2rem;
        font-size: 1.2rem;
    }

    &:has(+ .authorization__input:focus) {
        opacity: 1;
    }
}

.authorization__input {
    border: initial;
    padding: initial;
    width: 100%;
    height: 100%;
    font-weight: inherit;
    font-family: var(--font1);

    @media (min-width: $point1) {
        font-size: 1.6rem;
    }
    @media (max-width: $point2) {
        font-size: 1.3rem;
    }

    &[type="password"] {
        color: var(--secondary-color);
        font-weight: 900;
        letter-spacing: 0.3rem;
    }

    &::placeholder {
        color: var(--text-color);
        font-weight: 400;
        letter-spacing: initial;
    }
}

.login__help__link {
    display: block;
    transition: color var(--trans);
    color: var(--secondary-color);
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: end;
    text-decoration: none;

    @media (min-width: $point1) {
        margin-bottom: 2.9rem;

        &:hover {
            color: var(--primary-color);
        }
    }
    @media (max-width: $point2) {
        margin-bottom: 2rem;

        &:active {
            color: var(--primary-color);
        }
    }
}

.login__wrap {
    margin: 0 auto;
    width: 100%;

    @media (min-width: $point3) {
        max-width: 22.4rem;
    }

    .authorization__button {
        @media (min-width: $point1) {
            margin-bottom: 2.5rem;
        }
    }

    .authorization__line {
        @media (min-width: $point1) {
            margin-bottom: 1.5rem;
        }
        @media (max-width: $point2) {
            margin-bottom: 1rem;
        }
    }
}

.register__wrap {
    margin: 0 auto;
    width: 100%;

    @media (min-width: $point3) {
        max-width: 33.7rem;
    }

    .authorization__button {
        @media (min-width: $point1) {
            margin-bottom: 1.5rem;
        }
    }

    .authorization__line {
        margin-bottom: 1rem;
    }
}

.authorization__button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--trans);
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    width: 100%;
    color: var(--contrast-color);
    font-weight: 600;
    font-family: var(--font1);
    text-transform: uppercase;

    @media (min-width: $point1) {
        height: 4.2rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        height: 3.6rem;
    }
    @media (min-width: $point3) {
        font-size: 1.8rem;
    }
    @media (max-width: $point2) {
        margin-bottom: 1rem;
    }
    @media (max-width: $point4) {
        height: 3.2rem;
        font-size: 1.4rem;
    }

    &:active {
        background-color: var(--primary-color);
    }
}

.authorization__line {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;

    span {
        background-color: var(--secondary-color);
        width: 100%;
        height: 0.12rem;
    }
}

.authorization__socials {
    display: flex;
    column-gap: 0.5rem;
    justify-content: space-between;
    margin: 0 auto 1.3rem;
    width: 100%;
    max-width: 21rem;

    @media (max-width: $point2) {
        margin-bottom: 1rem;
    }
}

.authorization__social__link {
    transition: background-color var(--trans);
    border: 0.1rem solid var(--secondary-color);
    border-radius: 0.9rem;
    background-position: center;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 6rem;
    height: 3.4rem;

    @media (min-width: $point1) {
        &:hover {
            background-color: var(--secondary-color);
        }
    }
    @media (max-width: $point2) {
        &:active {
            background-color: var(--secondary-color);
        }
    }

    &:nth-child(1) {
        background-image: url(../../assets/media/images/icons/google.svg);
    }

    &:nth-child(2) {
        background-image: url(../../assets/media/images/icons/facebook.svg);
    }

    &:nth-child(3) {
        background-image: url(../../assets/media/images/icons/apple.svg);
    }
}

.authorization__description {
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: center;

    a {
        transition: color var(--trans);
        color: var(--secondary-color);
        text-decoration: none;

        @media (min-width: $point1) {
            &:hover {
                color: var(--primary-color);
            }
        }
        @media (max-width: $point2) {
            &:active {
                color: var(--primary-color);
            }
        }
    }
}
