@use "../../styles/helpers/abstracts.scss" as *;

.error_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $point1) {
        min-height: calc(100vh - 8.5rem - 28.8rem);
    }
    @media (min-width: $point3) {
        justify-content: center;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        min-height: calc(100vh - 8.5rem);
    }
    @media (max-width: $point4) {
        padding-top: 3rem;
        min-height: calc(100vh - 7rem - 6rem);
    }
}

.error__title {
    margin-bottom: 1rem;
    color: var(--secondary-color);
    font-weight: 600;

    @media (min-width: $point1) {
        font-size: 10rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        font-size: 7rem;
    }
    @media (max-width: $point4) {
        font-size: 5rem;
    }
}

.error__description {
    color: var(--text-color);

    @media (min-width: $point1) {
        font-size: 3rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        font-size: 2rem;
    }
    @media (max-width: $point4) {
        font-size: 1.5rem;
    }
}
