@use "../../styles/helpers/abstracts.scss" as *;

.featured_tours {
    @media (min-width: $point1) {
        padding: 5rem 0 9.2rem;
    }
}

.featured_tours_block {
    display: block;
}

.featured_tours__title {
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;

    @media (min-width: $point1) {
        font-size: 4.4rem;
        margin-bottom: 5rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        font-size: 3rem;
        margin-bottom: 3.5rem;
    }
    @media (max-width: $point4) {
        font-size: 2.4rem;
        margin-bottom: 2rem;
    }

    span {
        color: var(--secondary-color);
    }
}

.featured_tours__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    @media (min-width: $point1) {
        gap: 3rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        gap: 2rem;
    }
    @media (max-width: $point4) {
        gap: 1.3rem;
    }
}

.featured_tours__image {
    position: relative;
    border-radius: 0.6rem;
    overflow: hidden;
    color: var(--contrast-color);

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(6),
    &:nth-child(7) {
        width: 100%;

        @media (min-width: $point1) {
            height: 52.1rem;
        }
        @media (max-width: $point2) {
            height: 24rem;
        }
        @media (min-width: $point3) {
            grid-column: span 3;
            max-width: 54.5rem;
        }
        @media (max-width: $point4) {
            grid-column: span 6;
        }

        .featured_tours__captions__wrap {
            align-items: center;
            justify-content: center;
        }

        .featured_tours__image__captions {
            text-align: center;
        }

        .featured_tours__image__suptitle {
            @media (min-width: $point1) {
                margin-bottom: -3rem;
                font-size: 9.6rem;
            }
            @media (max-width: $point2) {
                font-size: 6rem;
            }
        }

        .featured_tours__image__title {
            @media (min-width: $point1) {
                font-size: 4rem;
            }
            @media (min-width: $point3) and (max-width: $point2) {
                font-size: 3rem;
            }
            @media (max-width: $point4) {
                font-size: 2rem;
            }
        }
    }

    @media (min-width: $point1) {
        &:nth-child(6) {
            .featured_tours__image__suptitle {
                margin-bottom: -1.4rem;
            }
        }
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
        width: 100%;
        height: 14rem;

        @media (min-width: $point3) {
            grid-column: span 2;
            max-width: 35.3rem;
        }

        .featured_tours__captions__wrap {
            align-items: end;
        }

        .featured_tours__image__captions {
            @media (min-width: $point3) {
                margin: 0 0 2rem 2rem;
            }
            @media (max-width: $point4) {
                margin: 0 0 1rem 1rem;
            }
        }

        .featured_tours__image__suptitle {
            color: var(--secondary-color);

            @media (min-width: $point1) {
                font-size: 3.6rem;
                line-height: 0.8;
            }
            @media (max-width: $point2) {
                font-size: 2.8rem;
            }
        }

        .featured_tours__image__title {
            @media (max-width: $point4) {
                font-size: 1.5rem;
            }
        }
    }

    @media (min-width: $point1) {
        &:nth-child(10) {
            .featured_tours__pic {
                object-position: bottom;
            }
        }
    }

    @media (max-width: $point4) {
        &:nth-child(3),
        &:nth-child(8) {
            grid-column: span 6;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(9),
        &:nth-child(10) {
            grid-column: span 3;
        }
    }
}

.featured_tours__captions__wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.featured_tours__image__suptitle {
    font-family: var(--font2);
    font-weight: 400;
}

.featured_tours__image__title {
    font-weight: 600;
    text-transform: uppercase;
}

.featured_tours__pic {
    @extend %cover_img;
}
