@use "../../styles/helpers/abstracts.scss" as *;

.hero {
    @media (min-width: $point1) {
        padding: 11rem 0 5rem;
    }
}

.hero_block {
    display: flex;
    row-gap: 5.5rem;
    flex-direction: column;
}

.hero__content {
    display: flex;
    column-gap: 3.4rem;

    @media (max-width: $point2) {
        row-gap: 2rem;
        flex-direction: column;
    }
}

.hero__info {
    @media (min-width: $point1) {
        padding-top: 4.2rem;
        width: 50%;
    }
}

.hero__suptitle {
    position: relative;
    margin-bottom: 2.5rem;

    .world__icon {
        position: absolute;
        top: -0.5rem;
        right: -4.6rem;
        width: 4.5rem;
        height: 4.5rem;
    }
}

.hero__title {
    margin-bottom: 3rem;
    font-weight: 600;

    @media (min-width: $point3) {
        font-size: 3.6rem;
    }
    @media (max-width: $point4) {
        font-size: 3rem;
    }

    span {
        color: var(--secondary-color);
    }
}

.hero__media {
    display: flex;
    gap: 2.3rem;

    @media (min-width: $point1) {
        width: 50%;
    }
    @media (max-width: $point2) {
        justify-content: center;
    }
    @media (max-width: $point4) {
        flex-wrap: wrap;
    }
}

.hero__media__content {
    position: relative;
    cursor: pointer;
    border: 0.2rem solid var(--secondary-color);
    border-radius: 2rem;
    width: 100%;
    overflow: hidden;

    @media (min-width: $point1) {
        max-width: 16.6rem;
        height: 35rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        height: 30rem;
    }
    @media (max-width: $point4) {
        height: 20rem;
    }

    &:nth-child(2) {
        @media (min-width: $point1) {
            top: 2rem;
        }

        .video__control {
            position: absolute;
            bottom: 2rem;
            left: 2rem;
            cursor: pointer;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 3rem;
            height: 3rem;
        }

        .video__fullscreen {
            position: absolute;
            right: 2rem;
            bottom: 2rem;
            cursor: pointer;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 3rem;
            height: 3rem;

            @media (min-width: $point3) {
                opacity: 0;
                transition: opacity var(--trans);
            }
        }

        @media (min-width: $point3) {
            &:hover {
                .video__fullscreen {
                    opacity: 1;
                }
            }
        }
    }

    &:nth-child(3) {
        @media (min-width: $point1) {
            top: 4rem;
        }
    }

    .hero__pic {
        @extend %cover_img;
    }

    .hero__video {
        display: block;
        width: 100%;
        height: 100%;
        object-position: center;
    }
}
