@use "../../styles/helpers/abstracts.scss" as *;

.newsletter {
    background-color: var(--light-bg-color);
}

.newsletter_block {
    display: flex;

    @media (min-width: $point1) {
        justify-content: space-between;
    }
    @media (max-width: $point2) {
        justify-content: center;
    }
}

.newsletter__subscribe {
    width: 100%;
    max-width: 54.4rem;

    @media (min-width: $point1) {
        padding-top: 5rem;
    }
}

.newsletter__title {
    margin-bottom: 3rem;
}

.newsletter__form {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    border-radius: 0.6rem;
    background-color: var(--contrast-color);

    @media (min-width: $point3) {
        height: 5.4rem;
    }
    @media (max-width: $point4) {
        height: 4rem;
    }

    &:has(.newsletter__email__input:focus) {
        outline: 0.1rem solid var(--secondary-color);
    }
}

.newsletter__email__input {
    width: 100%;
    height: 100%;
    border: initial;
    padding: initial;
    margin-right: 1rem;
    font-family: var(--font1);
    font-weight: inherit;

    @media (min-width: $point3) {
        font-size: 1.6rem;
    }
    @media (max-width: $point4) {
        font-size: 1.3rem;
    }

    &::placeholder {
        font-weight: 400;
        color: var(--text-color);
    }
}

.newsletter__subscribe__button {
    width: 100%;
    border: initial;
    border-radius: 0.6rem;
    background-color: var(--secondary-color);
    font-family: var(--font1);
    font-weight: inherit;
    color: var(--contrast-color);
    transition: background-color var(--trans);
    cursor: pointer;

    @media (min-width: $point3) {
        height: 4.2rem;
        max-width: 11.3rem;
        font-size: 1.6rem;
    }
    @media (max-width: $point4) {
        height: 3rem;
        max-width: 8rem;
        font-size: 1.3rem;
    }

    &:active {
        background-color: var(--primary-color);
    }
}

.newsletter__text {
    color: var(--heading-color);

    @media (max-width: $point4) {
        font-size: 1.3rem !important;
    }
}

.newsletter__image {
    width: 100%;
    max-width: 54.6rem;

    .newsletter__pic {
        @extend %contain_img;
    }
}
