@use "../../styles/helpers/abstracts.scss" as *;

.panorama_block {
    position: relative;
    padding: initial;
    max-width: 144rem;

    @media (min-width: $point1) {
        height: 40rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        height: 30rem;
    }
    @media (max-width: $point4) {
        height: 20rem;
    }
}

.panorama__title__wrap {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.panorama__title {
    color: var(--contrast-color);
    font-weight: 600;
    text-transform: capitalize;

    @media (min-width: $point1) {
        font-size: 6.4rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        font-size: 4.4rem;
    }
    @media (max-width: $point4) {
        font-size: 3.3rem;
    }

    span {
        color: var(--primary-color);
    }
}

.panoramic__image {
    @extend %cover_img;
}
