@use "../../styles/helpers/abstracts.scss" as *;

.reviews {
    @media (min-width: $point1) {
        padding: 5rem 0 5.8rem;
    }
}

.reviews_block {
    display: block;
}

.reviews_info {
    margin-bottom: 3.3rem;
}

.reviews__slider {
    max-height: fit-content;
}

.reviews__slide {
    user-select: none;
    cursor: pointer;
}

.reviews__text {
    margin-bottom: 2rem;
    line-height: 1.2;
}

.reviews__person {
    display: flex;
    align-items: center;
}

.reviews__person__image {
    overflow: hidden;
    width: 8.5rem;
    height: 6.3rem;
    border-radius: 0.6rem;
    margin-right: 3rem;
    background-color: #d9d9d9;

    .reviews__person__pic {
        @extend %cover_img;
    }
}

.reviews__person__info {
    font-size: 1.6rem;
}

.reviews__person__name {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.reviews__person__description {
    font-weight: 400;
    color: var(--text-color);
}

.reviews__slider__pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 4.6rem auto 0;

    @media (min-width: $point1) {
        max-width: 13.3rem;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        max-width: 20rem;
    }
    @media (max-width: $point4) {
        overflow-x: hidden;
        margin-top: 3rem;
    }
}

.reviews__slider__bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--trans);
    cursor: pointer;

    @media (min-width: $point3) {
        width: 2rem;
        height: 2rem;
    }
    @media (max-width: $point4) {
        position: relative;
        min-width: 3rem;
        height: 3rem;

        &:has(+ &#{$active})::before,
        &#{$active} + &::before {
            transform: scale(0.66);
        }

        &:not(&:has(+ &#{$active}), &#{$active}, &#{$active} + &)::before {
            transform: scale(0.33);
        }
    }

    &::before {
        content: "";
        border-radius: 50%;
        background-color: #d9d9d9;
        transition: var(--trans);

        @media (min-width: $point3) {
            width: 0.8rem;
            height: 0.8rem;
        }
        @media (max-width: $point4) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &#{$active}::before {
        background-color: var(--text-color);
    }
}
