@use "../../styles/helpers/abstracts.scss" as *;

.services {
    @media (min-width: $point1) {
        padding: 6.2rem 0;
    }
}

.services_block {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    min-height: 18.2rem;

    @media (min-width: $point1) {
        justify-content: space-between;
    }
}

.services__info {
    width: 100%;
    height: 100%;
    max-width: 28.1rem;
}

.services__suptitle {
    display: inline-block;
    font-family: var(--font2);
    font-size: 3.2rem;
    margin-bottom: 1rem;
}

.services__elements {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $point1) {
        justify-content: space-between;
        width: 100%;
        max-width: 81.6rem;
    }
    @media (max-width: $point2) {
        justify-content: center;
        gap: 2rem;
        height: 100%;
        margin: 0 auto;
    }
}

.services__item {
    width: 100%;
    height: 100%;
    max-width: 26.2rem;
    padding: 2rem;
    border-radius: 1.6rem;
    border-right: 0.1rem solid var(--secondary-color);
    border-bottom: 0.1rem solid var(--secondary-color);

    &:nth-child(1) {
        .services__item__image {
            background-image: url(../../assets/media/images/icons/weather.png);
        }
    }

    &:nth-child(2) {
        .services__item__image {
            background-image: url(../../assets/media/images/icons/guide.png);
        }
    }

    &:nth-child(3) {
        .services__item__image {
            background-image: url(../../assets/media/images/icons/customization.png);
        }
    }

    .services__item__image {
        width: 5rem;
        height: 5rem;
        margin-bottom: 2.5rem;
        border-radius: 50%;
        background-size: 3.4rem 3.4rem;
        background-repeat: no-repeat;
        background-position: center;
        background-color: var(--secondary-color);
    }
}

.services__item__title {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}
