@use "../../styles/helpers/abstracts.scss" as *;

.tours_search {
    @media (min-width: $point1) {
        padding: 5rem 0;
    }
}

.tours_search_block {
    position: relative;

    & > svg {
        position: absolute;
        z-index: -1;
        top: -0.5rem;
        right: -14rem;
        width: 44.8rem;
        height: 13.3rem;
        fill: var(--secondary-color);
    }
}
