@use "../../styles/helpers/abstracts.scss" as *;

.tour_search {
    overflow: hidden;

    @media (min-width: $point1) {
        padding: 5rem 0;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        padding: 4rem 0;
    }
    @media (max-width: $point4) {
        padding: 3rem 0;
    }
}

.tour_search_block {
    position: relative;

    & > svg {
        position: absolute;
        top: -0.5rem;
        right: -14rem;
        z-index: -1;
        fill: var(--secondary-color);
        width: 44.8rem;
        height: 13.3rem;
    }
}
