@use "abstracts" as *;

html {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 62.5%;
    line-height: 1;
    font-family: var(--montserrat-font);

    @media (1200px > width >= $desktop) {
        font-size: calc(100dvw / 1200 * 10);
    }
}

body {
    font-size: 2rem;

    @media (width < $desktop) {
        font-size: 1.5rem;
    }
}

h1 {
    font-weight: 600;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

input:where([type="number"]) {
    appearance: textfield;
}

::-webkit-inner-spin-button {
    display: none;
}

::placeholder {
    color: var(--text-color);
    font-weight: 400;
}
