@font-face {
    font-weight: 400;
    src: url(../assets/fonts/Montserrat-Regular.woff2);
    font-family: "Montserrat";
}

@font-face {
    font-weight: 500;
    src: url(../assets/fonts/Montserrat-Medium.woff2);
    font-family: "Montserrat";
}

@font-face {
    font-weight: 600;
    src: url(../assets/fonts/Montserrat-SemiBold.woff2);
    font-family: "Montserrat";
}

@font-face {
    font-weight: 900;
    src: url(../assets/fonts/Montserrat-Black.woff2);
    font-family: "Montserrat";
}

@font-face {
    font-weight: 400;
    src: url(../assets/fonts/IslandMoments-Regular.woff2);
    font-family: "Island Moments";
}
