@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Regular.woff2);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Medium.woff2);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-SemiBold.woff2);
}

@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url(../assets/fonts/Montserrat-Black.woff2);
}

@font-face {
    font-family: "Island Moments";
    font-weight: 400;
    font-style: normal;
    src: url(../assets/fonts/IslandMoments-Regular.woff2);
}
