@use "./helpers/abstracts.scss" as *;

footer {
    width: 100%;
    min-height: 28.8rem;
}

.footer_menu {
    display: flex;
    height: 100%;

    @media (min-width: $point1) {
        justify-content: space-between;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        flex-wrap: wrap;
    }
    @media (max-width: $point4) {
        flex-direction: column;
    }
}

.footer__socials {
    display: flex;
    row-gap: 1.5rem;
    flex-direction: column;
    margin: 3rem 0 2.7rem;
    width: 100%;
    max-width: 32.6rem;
    color: var(--text-color);
    font-weight: 400;
    font-size: 1.6rem;
}

.footer__text {
    max-width: 25.5rem;
}

.footer__social__links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 21.5rem;
}

.footer__social__link {
    cursor: pointer;
    width: 100%;
    max-width: 3.5rem;
    height: 3.5rem;

    svg {
        @extend %contain_img;

        path {
            transition: fill var(--trans);
            fill: var(--secondary-color);
        }
    }

    @media (min-width: $point3) {
        &:hover {
            path {
                fill: var(--primary-color);
            }
        }
    }
    @media (max-width: $point4) {
        &:active {
            path {
                fill: var(--primary-color);
            }
        }
    }
}

.footer__description {
    width: 100%;
    max-width: 31.3rem;
    font-size: 1.4rem;

    .footer__highlight {
        color: var(--secondary-color);
    }
}

.footer__nav {
    display: flex;

    @media (min-width: $point1) {
        justify-content: space-between;
        width: 60%;
    }
    @media (max-width: $point2) {
        width: 100%;
    }
    @media (min-width: $point3) and (max-width: $point2) {
        justify-content: space-between;
    }
    @media (max-width: $point4) {
        column-gap: 2rem;
        flex-wrap: wrap;
        font-size: 1.6rem;
    }
}

.footer__nav__links {
    height: 17.6rem;

    @media (min-width: $point3) {
        margin: 5rem 0 6.2rem;
    }
    @media (max-width: $point4) {
        margin: 2rem 0;
    }
}

.footer__nav__title {
    margin-bottom: 3rem;
}

.footer__links {
    display: flex;
    row-gap: 2.5rem;
    flex-direction: column;
}

.footer__link {
    transition: color var(--trans);
    cursor: pointer;
    width: fit-content;
    color: var(--text-color);
    text-decoration: none;

    @media (min-width: $point3) {
        &:hover {
            color: var(--secondary-color);
        }
    }
    @media (max-width: $point4) {
        &:active {
            color: var(--secondary-color);
        }
    }
}

.footer__links__wrap {
    width: fit-content;
}

.footer__icon {
    display: inline-block;
    margin-right: 1.3rem;
    width: 1.8rem;
    height: 1.5rem;

    svg {
        @extend %contain_img;

        path {
            fill: var(--secondary-color);
        }
    }
}

.footer__label {
    margin-right: 1rem;
    font-size: 1.6rem;

    & + a {
        font-weight: 400;
    }
}
