@use "abstracts" as *;

.page-layout_non-scrollable {
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
    min-height: inherit;
}

.main {
    flex-grow: 1;

    &:has(> .loading) {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (width < $desktop) {
            height: calc(100dvh - var(--header-height));
        }
    }
}

.section {
    --section-padding: 5rem 0;

    padding: var(--section-padding);
    overflow: hidden;

    @media (width < $desktop) {
        padding: 4rem 0;
    }

    @media (width < $tablet) {
        padding: 3rem 0;
    }
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 116rem;
}

.container_flex {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (width < $tablet) {
        flex-direction: column;
    }
}

.info {
    margin-bottom: 3.3rem;
    width: fit-content;

    @media (width < $desktop) {
        margin-bottom: 2rem;
    }
}

.catalog {
    --catalog-gap: 1.3rem;
    --column-max-width: 26.7rem;
    --column-max-width-v2: 27.9rem;

    --item-height: var(--column-max-width);
    --item-height-v2: 33.5rem;
    --item-height-v3: 21.8rem;
    --item-height-v4: 28.5rem;

    display: flex;
    gap: var(--catalog-gap);

    @media (width < $desktop) {
        --column-max-width: 100%;
        --column-max-width-v2: var(--column-max-width);

        --item-height: 20rem;
        --item-height-v2: var(--item-height);
        --item-height-v3: var(--item-height);
        --item-height-v4: var(--item-height);

        flex-direction: column;
    }

    & > * {
        display: inherit;
        gap: inherit;
        width: 100%;
        max-width: var(--column-max-width);
        height: fit-content;

        @media (width >= $desktop) {
            flex-direction: column;
        }
    }
}
