@use "./helpers/abstracts.scss" as *;

header {
    position: fixed;
    z-index: var(--header-z-index);
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--contrast-color);

    @media (min-width: $point3) {
        height: var(--header-height);
    }
    @media (max-width: $point4) {
        height: var(--header-height-mobile);
    }
}

.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    height: 100%;
    margin: initial;
    font-size: 1.8rem;
    font-weight: 600;
}

.header__navs {
    display: flex;

    @media (min-width: $point3) {
        justify-content: flex-end;
        column-gap: 4rem;
        width: 100%;
    }
    @media (max-width: $point4) {
        position: fixed;
        z-index: -1;
        top: 0;
        left: -100dvw;
        flex-direction: column;
        justify-content: center;
        row-gap: 3.5rem;
        width: 100dvw;
        height: 100dvh;
        background-color: bisque;
        transition: left var(--trans);

        &#{$open} {
            left: 0;
        }
    }
}

.header__nav__links {
    display: flex;
    align-items: center;
    column-gap: 3rem;

    @media (max-width: $point4) {
        flex-direction: column;
        row-gap: 5rem;
    }
}

.header__link {
    text-decoration: none;
    color: var(--heading-color);
    cursor: pointer;
    transition: color var(--trans);

    @media (min-width: $point3) {
        &:hover {
            color: var(--secondary-color);
        }
    }
    @media (max-width: $point4) {
        &:active {
            color: var(--secondary-color);
        }
    }

    &#{$active} {
        color: var(--secondary-color);

        @media (min-width: $point3) {
            &:hover {
                color: var(--primary-color);
            }
        }
        @media (max-width: $point4) {
            &:active {
                color: var(--primary-color);
            }
        }
    }
}

.header__authorization {
    display: flex;
    column-gap: 0.5rem;
    width: 100%;

    @media (min-width: $point3) {
        max-width: 22rem;
    }
    @media (max-width: $point4) {
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
}

.header__authorization__link {
    display: block;
    max-width: 12rem;
    width: 100%;
    height: 4.2rem;
    border-radius: 5rem;
    line-height: 4.2rem;
    text-align: center;
    text-decoration: none;
    color: var(--heading-color);
    transition:
        color var(--trans),
        background-color var(--trans);
    cursor: pointer;

    @media (min-width: $point3) {
        &:hover {
            color: var(--secondary-color);
        }
    }
    @media (max-width: $point4) {
        &:active {
            color: var(--secondary-color);
        }
    }

    &:nth-child(1) {
        max-width: 9.5rem;
    }

    &:nth-child(1):not(#{$active}) + &:nth-child(2):not(#{$active}) {
        background-color: var(--secondary-color);
        color: var(--contrast-color);

        @media (min-width: $point3) {
            &:hover {
                background-color: var(--primary-color);
            }
        }
        @media (max-width: $point4) {
            &:active {
                background-color: var(--primary-color);
            }
        }
    }

    &#{$active} {
        background-color: var(--primary-color);
        color: var(--contrast-color);

        @media (min-width: $point3) {
            &:hover {
                background-color: var(--secondary-color);
            }
        }
        @media (max-width: $point4) {
            &:active {
                background-color: var(--secondary-color);
            }
        }
    }
}

.header__menu__button {
    position: relative;
    display: block;
    height: 4.5rem;
    width: 4.5rem;

    &::before {
        position: absolute;
        z-index: -1;
        top: -5%;
        left: -5%;
        content: "";
        width: 110%;
        height: 110%;
        border-radius: 50%;
        opacity: 20%;
        transition: background-color var(--trans);
    }

    &:active::before {
        background-color: var(--primary-color);
    }

    .menu__icon {
        @extend %contain_img;

        path {
            stroke: var(--secondary-color);
            transform-origin: 50% 50%;
            transition:
                stroke var(--trans),
                transform var(--trans),
                opacity var(--trans);
        }
    }

    &#{$open} {
        .menu__icon {
            @extend %contain_img;

            path {
                stroke: var(--heading-color);
            }
            path:nth-child(1) {
                transform: rotate(-45deg) translate(0, 25%);
            }
            path:nth-child(2) {
                transform: rotate(-45deg);
                opacity: 0;
            }
            path:nth-child(3) {
                transform: rotate(45deg) translate(0, -25%);
            }
        }
    }
}
