@use "./helpers/abstracts.scss" as *;

html {
    @media (min-width: 1920px) {
        font-size: 10px;
    }
    @media (min-width: $point1) and (max-width: 1919px) {
        font-size: calc(100vw / 1920 * 10);
    }
    @media (max-width: $point2) {
        font-size: 10px;
    }
}

html,
body {
    height: 100%;
    color: var(--heading-color);
    font-weight: 500;
    font-family: var(--font1);
}

body {
    font-size: 2rem;
}

body.hide-scrollbar .header_menu {
    margin-right: var(--f-scrollbar-compensate);
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    @media (min-width: $point3) {
        padding-top: var(--header-height);
    }
    @media (max-width: $point4) {
        padding-top: var(--header-height-mobile);
    }
}

main {
    flex-grow: 1;

    &:has(> .loading) {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $point3) and (max-width: $point2) {
            min-height: calc(100vh - 8.5rem);
        }
        @media (max-width: $point4) {
            min-height: calc(100vh - 7rem);
        }
    }
}

section {
    overflow: hidden;

    &:not(:has(.panorama_block), :has(.authorization_block)) {
        @media (min-width: $point3) and (max-width: $point2) {
            padding: 4rem 0;
        }
        @media (max-width: $point4) {
            padding: 3rem 0;
        }
    }
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    max-width: 116rem;
}

.block__suptitle {
    display: inline-block;
    margin-bottom: 1rem;
    border-radius: 5rem;
    background-color: var(--secondary-color);
    height: 3.5rem;
    font-weight: 400;
    font-size: 2.7rem;
    font-family: var(--font2);

    &.suptitle--v1 {
        padding: 0.2rem 0.8rem;
    }
    &.suptitle--v2 {
        padding: 0.2rem 1.2rem;
    }
}

.block__title {
    font-weight: 500;

    @media (max-width: $point4) {
        font-size: 2rem;
    }

    &.title--v1 {
        @media (min-width: $point1) {
            font-size: 2.5rem;
        }
        @media (min-width: $point3) and (max-width: $point2) {
            font-size: 2.2rem;
        }
    }
    &.title--v2 {
        @media (min-width: $point1) {
            font-size: 2.8rem;
        }
        @media (min-width: $point3) and (max-width: $point2) {
            font-size: 2.4rem;
        }
    }
    &.title--v3 {
        @media (min-width: $point1) {
            font-size: 3.2rem;
        }
        @media (min-width: $point3) and (max-width: $point2) {
            font-size: 2.6rem;
        }
    }
    &.title--v4 {
        @media (min-width: $point1) {
            font-size: 3.5rem;
        }
        @media (min-width: $point3) and (max-width: $point2) {
            font-size: 3rem;
        }
    }
}

.block__text {
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.3;

    &.text--v1 {
        font-size: 1.6rem;
    }
    &.text--v2 {
        font-size: 1.5rem;
    }
    &.text--v3 {
        font-size: 1.2rem;
    }
}
