:root {
    --primary-color: #ff7e01;
    --secondary-color: #faa935;
    --heading-color: #0b2727;
    --text-color: #6e7074;
    --pink-color: #ee6e6e;
    --white-color: white;

    --montserrat-font: "Montserrat", sans-serif;
    --island-moments-font: "Island Moments", cursive;

    --duration: 0.3s;
}
