@use "@styles/abstracts" as *;

.tour-link {
    display: block;
    position: relative;
    outline-color: var(--secondary-color);
    outline-width: 0.2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 25rem;
    height: fit-content;
    min-height: 25rem;
    overflow: hidden;
    color: var(--white-color);

    &:not(:focus-visible) {
        @include hover-active {
            outline-style: solid;
        }
    }
}

.tour-link__image {
    position: absolute;
    z-index: -1;
    @extend %cover-media;
}

.tour-link__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    height: 100%;
    min-height: inherit;
    text-align: center;
}

.tour-link__title {
    font-size: 4.8rem;
    font-family: var(--island-moments-font);
}

.tour-link__location {
    text-transform: uppercase;
}
