.loading {
    animation: spin 3s linear infinite;
    width: 10rem;
    height: 9rem;

    circle {
        fill: var(--secondary-color);
    }

    g {
        stroke: var(--secondary-color);
    }
}

@keyframes spin {
    to {
        rotate: 360deg;
    }
}
