.loading {
    width: 10rem;
    height: 9rem;
    animation: spin 3s linear infinite;

    circle {
        fill: var(--secondary-color);
    }

    g {
        stroke: var(--secondary-color);
    }
}

@keyframes spin {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}
