@use "../helpers/abstracts.scss" as *;

.logo {
    display: block;
    cursor: pointer;

    @media (min-width: $point3) {
        width: 100%;
        height: 7.6rem;
        max-width: 25.5rem;
    }
    @media (max-width: $point4) {
        width: fit-content;
        height: 5rem;
    }

    .logo__pic {
        @extend %contain_img;
    }
}
