@use "../helpers/abstracts.scss" as *;

.search__bar {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 5rem;
    width: 100%;
    box-shadow: 0 0.2rem 1rem 0 #00000026;
    background-color: var(--contrast-color);

    @media (min-width: $point3) {
        height: 7.8rem;
        max-width: 81rem;
        padding: 0 2.6rem;
    }
    @media (max-width: $point4) {
        height: 5rem;
        padding: 0 1.5rem;
    }
}

.search__elements {
    display: flex;
    width: 100%;
    height: inherit;
}

.search__item {
    display: inherit;
    align-items: center;
    width: 100%;
    user-select: none;

    @media (min-width: $point3) {
        justify-content: center;
    }
    @media (max-width: $point4) {
        justify-content: space-around;
    }
    @media (min-width: $point3) {
        transition: background-color var(--trans);

        &:hover {
            background-color: #f5f5f5;
        }

        &:nth-child(1) {
            position: relative;
        }

        &:nth-child(1)::before {
            position: absolute;
            content: "";
            left: -2.6rem;
            width: 2.6rem;
            height: 100%;
            transition: background-color var(--trans);
        }

        &:nth-child(1):hover::before {
            background-color: #f5f5f5;
        }

        &:nth-child(1):hover + &:nth-child(2)::before {
            background-color: transparent;
        }

        &:nth-child(2):hover::before,
        &:nth-child(2):hover::after {
            background-color: transparent;
        }

        &:nth-child(2):has(+ &:nth-child(3):hover)::after {
            background-color: transparent;
        }
    }

    &:nth-child(1) {
        @media (min-width: $point1) {
            padding-right: 2.6rem;
        }
        @media (max-width: $point4) {
            padding-right: 0.5rem;
        }
    }

    &:nth-child(2) {
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 0.2rem;
            height: 56%;
            background-color: #dddddd;
            transition: background-color var(--trans);
        }

        &::before {
            left: 0;
        }

        &::after {
            right: -0.2rem;
        }
    }

    &:nth-child(2),
    &:nth-child(3) {
        @media (min-width: $point1) {
            max-width: 22rem;
        }
        @media (max-width: $point4) {
            padding: 0 0.5rem;
        }
    }
}

.search__item__icon {
    height: 2.2rem;

    @media (min-width: $point3) {
        margin-right: 1rem;
    }
    @media (max-width: $point4) {
        margin-right: 0.5rem;
    }

    svg {
        @extend %contain_img;

        path {
            fill: var(--light-pink-color);
        }
    }
}

.search__item__wrap {
    display: inline-block;
}

.search__title {
    font-weight: 500;

    @media (min-width: $point3) {
        font-size: 1.6rem;
    }
    @media (max-width: $point4) {
        font-size: 1.1rem;
    }
}

.search__description {
    color: var(--text-color);

    @media (min-width: $point3) {
        font-size: 1.4rem;
    }
    @media (max-width: $point4) {
        font-size: 0.8rem;
    }
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    padding: initial;
    background-color: initial;
    color: var(--heading-color);

    @media (min-width: $point3) {
        font-size: 2rem;
    }
    @media (max-width: $point4) {
        font-size: 1.5rem;
    }

    &::placeholder {
        color: var(--text-color);
    }
}

.search__button__wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    max-width: 7.4rem;

    @media (min-width: $point3) {
        width: 100%;
    }
}

@media (min-width: $point3) {
    .search__button__wrap {
        position: relative;
        transition: background-color var(--trans);
    }

    .search__button__wrap::after {
        position: absolute;
        content: "";
        right: -2.6rem;
        width: 2.6rem;
        height: 100%;
        transition: background-color var(--trans);
    }

    .search__bar:has(.search__item:nth-child(3):hover) {
        .search__button__wrap,
        .search__button__wrap::after {
            background-color: #f5f5f5;
        }
    }
}

.search__button {
    display: inherit;
    align-items: inherit;
    justify-content: center;
    border-radius: 1rem 0.4rem;
    transition: background-color var(--trans);
    cursor: pointer;

    @media (min-width: $point3) {
        width: 4.8rem;
        height: 4.8rem;
    }
    @media (max-width: $point4) {
        width: 3rem;
        height: 3rem;
    }

    svg {
        @media (min-width: $point3) {
            width: 2.6rem;
            height: 2.6rem;
        }
        @media (max-width: $point4) {
            width: 2rem;
            height: 2rem;
        }

        path {
            fill: var(--contrast-color);
        }
    }
}
