@use "../helpers/abstracts.scss" as *;

.search__bar {
    display: flex;
    align-items: center;
    box-shadow: 0 0.2rem 1rem 0 #00000026;
    border-radius: 5rem;
    background-color: var(--contrast-color);
    width: 100%;
    overflow: hidden;

    @media (min-width: 850px) and (max-width: $point2) {
        margin: 0 auto;
    }
    @media (min-width: $point3) {
        padding: 0 2.6rem;
        max-width: 81rem;
        height: 7.8rem;
    }
    @media (max-width: $point4) {
        padding: 0 1.5rem;
        height: 5rem;
    }
}

.search__elements {
    display: flex;
    position: relative;
    width: 100%;
    height: inherit;
}

.search__item {
    display: inherit;
    align-items: center;
    width: 100%;
    user-select: none;

    @media (min-width: $point3) {
        justify-content: center;
    }
    @media (max-width: $point4) {
        justify-content: space-around;
    }
    @media (min-width: $point3) {
        transition: background-color var(--trans);

        &:hover {
            background-color: #f5f5f5;
        }

        &:nth-child(1) {
            position: relative;
        }

        &:nth-child(1)::before {
            position: absolute;
            left: -2.6rem;
            transition: background-color var(--trans);
            width: 2.6rem;
            height: 100%;
            content: "";
        }

        &:nth-child(1):hover::before {
            background-color: #f5f5f5;
        }

        &:nth-child(1):hover + &:nth-child(2)::before {
            background-color: transparent;
        }

        &:nth-child(2):hover::before,
        &:nth-child(2):hover::after {
            background-color: transparent;
        }

        &:nth-child(2):has(+ &:nth-child(3):hover)::after {
            background-color: transparent;
        }
    }

    &:nth-child(1) {
        @media (min-width: $point1) {
            padding-right: 2.6rem;
        }
        @media (max-width: $point4) {
            padding-right: 0.5rem;
        }
    }

    &:nth-child(2) {
        position: relative;

        &::before,
        &::after {
            position: absolute;
            transition: background-color var(--trans);
            background-color: #dddddd;
            width: 0.2rem;
            height: 56%;
            content: "";
        }

        &::before {
            left: 0;
        }

        &::after {
            right: -0.2rem;
        }
    }

    &:nth-child(2),
    &:nth-child(3) {
        @media (min-width: $point1) {
            max-width: 22rem;
        }
        @media (max-width: $point4) {
            padding: 0 0.5rem;
        }
    }
}

.search__item__icon {
    height: 2.2rem;

    @media (min-width: $point3) {
        margin-right: 1rem;
    }
    @media (max-width: $point4) {
        margin-right: 0.5rem;
    }

    svg {
        @extend %contain_img;

        path {
            fill: var(--light-pink-color);
        }
    }
}

.search__item__wrap {
    display: inline-block;
}

.search__title {
    font-weight: 500;

    @media (min-width: $point3) {
        font-size: 1.6rem;
    }
    @media (max-width: $point4) {
        font-size: 1.1rem;
    }
    @media (max-width: 403px) {
        width: min-content;
    }
}

.search__description {
    color: var(--text-color);

    @media (min-width: $point3) {
        font-size: 1.4rem;
    }
    @media (max-width: $point4) {
        font-size: 0.8rem;
    }
}

.search__input {
    margin-right: 4rem;
    width: 100%;
    height: 100%;
    color: var(--heading-color);
    font-weight: inherit;
    font-family: var(--font1);

    @media (min-width: $point3) {
        font-size: inherit;
    }
    @media (max-width: $point4) {
        font-size: 1.5rem;
    }

    &::placeholder {
        color: var(--text-color);
        font-weight: 400;
    }

    &::-webkit-search-cancel-button {
        display: none;
    }
}

.search__clear__button {
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    cursor: pointer;
    width: 2.4rem;
    height: 2.4rem;

    &:hover::before,
    &:hover::after {
        background-color: var(--secondary-color);
    }

    &::before,
    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 0.15rem;
        background-color: var(--primary-color);
        width: 0.3rem;
        content: "";

        @media (min-width: $point3) {
            height: 2rem;
        }
        @media (max-width: $point4) {
            height: 1.5rem;
        }
    }

    &::before {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
}

.search__button__wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 7.4rem;
    height: 100%;

    @media (min-width: $point3) {
        width: 100%;
    }
}

@media (min-width: $point3) {
    .search__button__wrap {
        position: relative;
        transition: background-color var(--trans);
    }

    .search__button__wrap::after {
        position: absolute;
        right: -2.6rem;
        transition: background-color var(--trans);
        width: 2.6rem;
        height: 100%;
        content: "";
    }

    .search__bar:has(.search__item:nth-child(3):hover) {
        .search__button__wrap,
        .search__button__wrap::after {
            background-color: #f5f5f5;
        }
    }
}

.search__button {
    display: inherit;
    justify-content: center;
    align-items: inherit;
    transition: background-color var(--trans);
    cursor: pointer;
    border-radius: 1rem 0.4rem;

    @media (min-width: $point3) {
        width: 4.8rem;
        height: 4.8rem;
    }
    @media (max-width: $point4) {
        width: 3rem;
        height: 3rem;
    }

    svg {
        @media (min-width: $point3) {
            width: 2.6rem;
            height: 2.6rem;
        }
        @media (max-width: $point4) {
            width: 2rem;
            height: 2rem;
        }

        path {
            fill: var(--contrast-color);
        }
    }
}
