@use "@styles/abstracts" as *;

.explore {
    --section-padding: 5.1rem 0;
}

.explore__info {
    margin-bottom: 3.3rem;

    @media (width < $desktop) {
        margin-bottom: 2rem;
    }
}

.explore__column:nth-child(3) {
    @media (width >= $desktop) {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 55.9rem;
    }

    @media (width < $tablet) {
        flex-wrap: wrap;
    }
}

.explore__tour-link {
    max-width: 100%;
    min-height: var(--item-height);

    @media (width < $desktop) {
        height: auto;
    }

    .explore__column:nth-child(2) & {
        min-height: var(--item-height-v2);

        &:nth-child(2) {
            min-height: var(--item-height-v3);
        }
    }

    .explore__column:nth-child(3) & {
        &:nth-child(2) {
            max-width: var(--column-max-width);
        }

        &:nth-child(3) {
            max-width: var(--column-max-width-v2);
            min-height: var(--item-height-v4);
        }

        &:nth-child(2),
        &:nth-child(3) {
            @media (width < $tablet) {
                max-width: calc(50% - var(--catalog-gap) / 2);
            }
        }
    }

    .tour-link__content {
        gap: 0.7rem;
    }
}

.explore__tour-link_sydney .tour-link__location {
    text-transform: none;
}
