@use "@styles/abstracts" as *;

.newsletter {
    --section-padding: 0;

    background-color: #cae5f4;
}

.newsletter__info {
    @media (width >= $desktop) {
        padding-top: 5.1rem;
        max-width: 54.4rem;
    }
}

.newsletter__title {
    margin-bottom: 2.9rem;

    @media (width >= $desktop) {
        font-size: 2.8rem;
    }

    @media (width < $tablet) {
        font-size: 2rem;
    }
}

.newsletter__form {
    display: flex;
    margin-bottom: 1.6rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    padding: 0.6rem 1rem;

    @media (width >= $desktop) {
        font-size: 1.6rem;
    }

    &:has(:focus-visible) {
        outline: var(--border);
    }
}

.newsletter__field {
    outline: 0;
    border: 0;
    background-color: transparent;
    padding-right: 1rem;
    width: 100%;
}

.newsletter__button {
    @media (width >= $desktop) {
        padding: 1.3rem 1.6rem;
    }
}

.newsletter__text {
    color: var(--heading-color);
}

.newsletter__image-wrapper {
    aspect-ratio: 546 / 364;
    width: 100%;
    max-width: 54.6rem;
}

.newsletter__image {
    @extend %contain-media;
}
