@use "@styles/abstracts" as *;

.explore {
    --section-padding: 5.1rem 0;
}

.explore__info {
    margin-bottom: 3.3rem;

    @media (width < $desktop) {
        margin-bottom: 2rem;
    }
}

.explore__catalog {
    --catalog-gap: 1.3rem;

    display: flex;
    gap: var(--catalog-gap);

    @media (width < $desktop) {
        flex-direction: column;
    }
}

.explore__column {
    --column-max-width: 26.7rem;

    display: flex;
    gap: inherit;
    width: 100%;
    height: fit-content;

    @media (width >= $desktop) {
        flex-direction: column;
        max-width: var(--column-max-width);
    }

    &:nth-child(3) {
        @media (width >= $desktop) {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 55.9rem;
        }

        @media (width < $tablet) {
            flex-wrap: wrap;
        }
    }
}

.explore__tour-link {
    max-width: 100%;
    min-height: var(--column-max-width);

    @media (width >= $desktop) {
        height: 100%;

        .explore__column:nth-child(2) & {
            min-height: 33.5rem;

            &:nth-child(2) {
                min-height: 21.8rem;
            }
        }

        .explore__column:nth-child(3) &:nth-child(2) {
            max-width: var(--column-max-width);
        }

        .explore__column:nth-child(3) &:nth-child(3) {
            max-width: 27.9rem;
            min-height: 28.5rem;
        }
    }

    @media (width < $desktop) {
        min-height: 20rem;
    }

    @media (width < $tablet) {
        .explore__tour-link_sydney ~ & {
            max-width: calc(50% - var(--catalog-gap) / 2);
        }
    }

    .tour-link__content {
        gap: 0.7rem;
    }

    .tour-link__title {
        @media (width < $desktop) {
            font-size: 3.6rem;
        }

        @media (width < $tablet) {
            font-size: 3.2rem;
        }
    }

    .tour-link__location {
        font-size: 2.4rem;

        @media (width < $desktop) {
            font-size: 2rem;
        }

        @media (width < $tablet) {
            font-size: inherit;
        }
    }
}

.explore__tour-link_sydney .tour-link__location {
    text-transform: none;
}
